.color-navbar {
    background-color: #223fa9;
}

.logo-color {
    color: #efa81b;
}

.color-item {
    color: #ccc;
}

section.categoria {
    margin-top:10vh;
}

.nav-categoria {
    margin-bottom:5vh;
}

section.maisbaratos {
    margin-top:10vh;
}

.h1home {
    color: #efa81b;
    margin-bottom: 5vh;
}